:host {
  display: block;
  padding: 1rem;
  border: 1px solid cornflowerblue;
  border-radius: 0.25rem;
  margin-left: auto;
  margin-top: 1rem;
  width: 25%;
  margin-right: 1rem;

  ul {
    margin: 0;
    padding: 0.5rem;
  }

  li {
    list-style-type: "\1F44D";
  }
}
